<!DOCTYPE html>
<html>
	<head>
		<title>ZenGarden [Login]</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
		<%= yield :header %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<style type="text/css">
			.login-form{
				margin-top: 60px;
			}
			.panel{
				border-radius: 0;
			}
			.panel-body{
				padding-top: 30px;
			}

			.form-group input,
			.form-group button{
				border-radius: 0
			}
		</style>
		<link rel="stylesheet" media="all" href="/assets/admin/application.css" />
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<section class="login-form">
						<form method="post" action="/admin/login" role="login">
							<div class="panel panel-default">
								<div class="panel-heading text-center">
									<h3>LOGIN</h3>
								</div>
								<div class="panel-body">
									<% if flash[:status] == false %>
										<div class="form-group alert-danger" style="padding: 6px 12px;">
											<%= flash[:message] %>
										</div>
									<% end %>
									<div class="form-group">
										<input type="text" name="email_address" placeholder="Email/Username" class="form-control" />
									</div>
									<div class="form-group">
										<input type="password" name="password" placeholder="Password" class="form-control" />
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary form-control">Login</button>
									</div>	
								</div>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>