<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Zengarden" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Zengarden" %>">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
        <%= csrf_meta_tags %>
        <%= yield :header %>
        <link rel="stylesheet" media="all" href="/assets/<%= params[:controller] %>.css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	</head>
	<body class="colorscheme-1">
		<header>
			<%= render 'layouts/navigation' %>
		</header>
		<main role="main">
            <%= yield %>
		</main>
		<footer>
			<div class="contacts">
				<div class="container">
					<div class="col-sm-2">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<a href="/"><img src="https://s3-ap-northeast-1.amazonaws.com/zengardenph/zenGardenLogo.png" /></a>
								</div>
							</div>
							<div class="col-md-12 social">
								<div class="row text-center">
									<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
									<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#">
										<i class="fa fa-google-plus" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4"></div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-md-6">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a href="/gallery" class="nav-link">GALLERY</a>
									</li>
									<li class="nav-item">
										<a href="/rooms" class="nav-link">ROOM</a>
									</li>
									<li class="nav-item">
										<a href="/amenities" class="nav-link">AMENITIES</a>
									</li>
									<li class="nav-item">
										<a href="/team-building" class="nav-link">TEAM BUILDING</a>
									</li>
									<li class="nav-item">
										<a href="/program-and-events" class="nav-link">EVENTS</a>
									</li>
									<li class="nav-item">
										<a href="/inquiry" class="nav-link">INQUIRY</a>
									</li>
									<li class="nav-item">
										<a href="/contact-us" class="nav-link">CONTACT US</a>
									</li>

								</ul>
							</div>
							<div class="col-md-6">
								<h4>ZEN GARDEN</h4>
								<p>9154 Ulat - Francisco Road, Tagaytay, Cavite, Philippines</p>
								<br/>
								<p>Smart: (63) 921-770-5634</p>
								<p>Globe: (63) 917-861-6325</p>
								<p>Landline: (02) 542-8741</p><br/>
								<p>Email: zen.garden@yahoo.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				&copy; 2017 Zen Garden Tagaytay
			</div>
		</footer>
	</body>
</html>